:root {
  //note BACKGROUND
  --main-bg: #58585A;
  --main-footer-header: #727272;
  
  //note TEXT
  --text-default: #ffffff;
  --text-hover: #F90;
  --text-active: #F90;
  --text-selected: #F7931A;
  --text-secondary: #D9D9D9;
  --text-light-secondary: #F7F6F2;

  //note BORDER
  --border-hover: #F90;
  --border-active: #F90;


  //note FONT-FAMILY
  --roboto: 'Roboto', sans-serif;
  --intro-demo-cond: 'IntroDemo', sans-serif;
}